// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

#rowone{
    background: #2F86A6;
    color:  white;
    font-weight: 800;

    font-family:Georgia, 'Times New Roman', Times, serif ;

}